ez_setup
wheel
setuptools
mxnet
numpy
cython
fastapi
uvicorn[standard]
opencv-python
python-multipart
onnxruntime
insightface

paddleocr>=2.0.1
--extra-index-url https://mirror.baidu.com/pypi/simple
paddlepaddle