ez_setup
wheel
setuptools
mxnet
numpy
cython
fastapi
uvicorn[standard]
opencv-python
python-multipart
onnxruntime
insightface
imutils
openpifpaf==0.12.14 
torch==1.11.0
torchvision==0.12.0

paddleocr>=2.0.1
paddlepaddle